
# Main directory
BASE_DIR=/work/geisingerlab/Mark/breseq/2024-11-1_breseq_jbphages

FASTQDIR=/work/geisingerlab/SEQCENTER-SEQUENCINGREADS-BACKUP/20241013_IlluminaDNAReads_JBA420-421-JBphis/
FASTQDIR_2=/work/geisingerlab/SEQCENTER-SEQUENCINGREADS-BACKUP/20230707_IlluminaDNAReads_JBphi9_15/

# 2 make sample sheet
# FASTQDIR from above
SAMPLE_SHEET=${BASE_DIR}/sample_sheet.txt

# 3 breseq using sbatch array
REFERENCE_CHR=/work/geisingerlab/Mark/genome_assembly/2024-10-21_jb_phage-assembly/pharokka_2024-10-31/JBphi_36/JBphi_36.gbk
# SAMPLE_SHEET from above
BRESEQ_OUTPATH=${BASE_DIR}/output/breseq

# 4 all_cat_breseq
# Uses Yunfei's cat_breseq.py script
# SCRIPT_DIR, BRESEQ_OUTPATH from above
CAT_OUT_PATH=${BASE_DIR}/output/cat_breseq_out

# 5 zip_all_outputs
# uses BRESEQ_OUTPATH from above

# ====================== #
# Second set of phages to breseq from EG:
#phage_9
#phage_15A
#phage_15B
#phage_15C

# link to .fastq.gz files...
#cd ./input/fastq
#find /work/geisingerlab/SEQCENTER-SEQUENCINGREADS-BACKUP/20230707_IlluminaDNAReads_JBphi9_15/ -name "phage*" >>fastq_inputs.list
#paste fastq_inputs.list | while read file; do ln -s $file ./; done

FASTQDIR_3=/work/geisingerlab/Mark/breseq/2024-11-1_breseq_jbphages/input/fastq

SSHEET_2=${BASE_DIR}/sample_sheet_phage9-15.txt

# Same reference chromosome and breseq outpath as above